<section class="dashboard">
    <div class="backgroundImage" id="userBackground"></div>
    <h1>User Dashboard for {{user.firstName}} {{user.lastName}}</h1>
    <br><br>
<h2>Rooms Booked:</h2>
<a href="/task/deleteBookings" class="controlButton">REMOVE ALL BOOKINGS</a>
     {{#each bookings}}
    <div class="rooms">
        <img height="200px" width="200px"src="../uploads/{{this.roomPicture}}" alt="{{this.roomTitle}}">
        <h4>{{this.roomTitle}}/{{this.roomLocation}}</h4>
        <p>${{this.roomPrice}}/night</p>
    </div>
{{/each}}
</section>