<h2>Room listing page for {{city}}</h2>
{{#if Toronto}}
<section class="roomListing">
    <div class="rooms" id="room1">
        <img src="img/room1.jpg" alt="room1">
        <h4>Luxury Suite/{{city}}</h4>
        <p>$127/night</p>
    </div>
    <div class="rooms" id="room2">
        <img src="img/room3.jpg" alt="room1">
        <h4>Nice place/{{city}}</h4>
        <p>$84/night</p>
    </div>
    <div class="rooms" id="room3">
        <img src="img/room6.jpg" alt="room1">
        <h4>It's an okay place/{{city}}</h4>
        <p>$65/night</p>
    </div>
    <div class="rooms" id="room4">
        <img src="img/room9.jpg" alt="room1">
        <h4>5 stars!!!/{{city}}</h4>
        <p>$12/night</p>
    </div>
    <div class="rooms" id="room5">
        <img src="img/room12.jpg" alt="room1">
        <h4>Watch for cockroaches/{{city}}</h4>
        <p>$5/night</p>
    </div>
    <div class="rooms" id="room6">
        <img src="img/room15.jpg" alt="room1">
        <h4>You'll never want to leave!/{{city}}</h4>
        <p>$1/night</p>
    </div>
</section>
{{/if}}
{{#if Montreal}}
<section class="roomListing">
    <div class="rooms" id="room1">
        <img src="img/room2.jpg" alt="room1">
        <h4>Formidable!/{{city}}</h4>
        <p>$500/night</p>
    </div>
    <div class="rooms" id="room2">
        <img src="img/room5.jpg" alt="room1">
        <h4>Bon!!!/{{city}}</h4>
        <p>$350/night</p>
    </div>
    <div class="rooms" id="room3">
        <img src="img/room8.jpg" alt="room1">
        <h4>comme ci, comme ca/{{city}}</h4>
        <p>$100/night</p>
    </div>
    <div class="rooms" id="room4">
        <img src="img/room11.jpg" alt="room1">
        <h4>Merde/{{city}}</h4>
        <p>$15/night</p>
    </div>
    <div class="rooms" id="room5">
        <img src="img/room14.jpg" alt="room1">
        <h4>OUI OUI!!!/{{city}}</h4>
        <p>$25/night</p>
    </div>
    <div class="rooms" id="room6">
        <img src="img/room17.jpg" alt="room1">
        <h4>English Speakers Only/{{city}}</h4>
        <p>$2/night</p>
    </div>
</section>
{{/if}}
{{#if Vancouver}}
<section class="roomListing">
    <div class="rooms" id="room1">
        <img src="img/room4.jpg" alt="room1">
        <h4>Far out/{{city}}</h4>
        <p>$87,000/night</p>
    </div>
    <div class="rooms" id="room2">
        <img src="img/room7.jpg" alt="room1">
        <h4>View of the Mountains!/{{city}}</h4>
        <p>$174,000/night</p>
    </div>
    <div class="rooms" id="room3">
        <img src="img/room10.jpg" alt="room1">
        <h4>No Safe Drinking Water/{{city}}</h4>
        <p>$37,000/night</p>
    </div>
    <div class="rooms" id="room4">
        <img src="img/room13.jpg" alt="room1">
        <h4>Cozy/{{city}}</h4>
        <p>$12,700/night</p>
    </div>
    <div class="rooms" id="room5">
        <img src="img/room16.jpg" alt="room1">
        <h4>Literally an dungeon/{{city}}</h4>
        <p>$50,000/night</p>
    </div>
    <div class="rooms" id="room6">
        <img src="img/room19.jpg" alt="room1">
        <h4>Chemical Exprets Needed/{{city}}</h4>
        <p>$5/night</p>
    </div>
</section>

{{/if}}
{{#if StJohns}}
<section class="roomListing">
    <div class="rooms" id="room1">
        <img src="img/room20.jpg" alt="room1">
        <h4>How's ya gettin on?/{{city}}</h4>
        <p>$10/night</p>
    </div>
    <div class="rooms" id="room2">
        <img src="img/room21.jpg" alt="room1">
        <h4>Best Kind/{{city}}</h4>
        <p>$12/night</p>
    </div>
    <div class="rooms" id="room3">
        <img src="img/room22.jpg" alt="room1">
        <h4>Where ya longs to?/{{city}}</h4>
        <p>$5/night</p>
    </div>
    <div class="rooms" id="room4">
        <img src="img/room23.jpg" alt="room1">
        <h4>gutfounded? We'll fire up a scoff/{{city}}</h4>
        <p>$12/night</p>
    </div>
    <div class="rooms" id="room5">
        <img src="img/room24.jpg" alt="room1">
        <h4>Mauzy up here/{{city}}</h4>
        <p>$127/night</p>
    </div>
    <div class="rooms" id="room6">
        <img src="img/room19.jpg" alt="room1">
        <h4>Long may your big jib draw/{{city}}</h4>
        <p>$20/night</p>
    </div>
</section>
{{/if}}