<section class="roomListing">
    <div class="backgroundImage" id="roomBackground"></div>
{{#each rooms}}
    <div class="rooms">
        <img src="uploads/{{this.roomPicture}}" alt="{{this.roomTitle}}">
        <h4>{{this.roomTitle}}/{{this.roomLocation}}</h4>
        <p>${{this.roomPrice}}/night</p>
    </div>
{{/each}}
</section>